<h1 class="margin-top text-align-center"></h1>
<% I18n.t('spree.new_stock_request') %>
<%= render "spree/shared/error_messages", target: @stock_request %>
<%= form_for @stock_request do |f| %>
   <%= hidden_field_tag :variant_id, params[:variant_id] %>
    <div class="text-align-center">
      <%= f.label :email %>
      <% if spree_current_user %>
        <%= spree_current_user.email %>
      <% else %>
        <%= f.text_field :email %>
      <% end %>
      <div class="text-align-center">
        <%= f.submit Spree.t(:submit_stock_request) , :class => "highlight-button btn btn-medium button" %>
      </div>
    </div>
<%= end %>